<!-- Banner -->
  <section id="banner" style="padding-top: 1.5em;">
    <div class="content">
      <header>
        <h2 style="font-size: 25pt; margin-bottom: 10px;" title="Welcome to my abode! ">Welcome to my abode!</h2>
      </header>
      <p>I am Aaditya Ray, A Consulting Manager at Cognizant consulting, London , United Kingdom. I am an MBA from IIM (Indian Institute of Management) Shillong, and a B.Tech from NIT (National Institute of Technology) Bhopal. As a kind hearted gentleman, a professional workhorse, a top academic scholar, avid reader, multidisciplinary sportman and a maverick soul, I plan to make meaning out of my life. I am interested in various fileds, across industries, trends, technologies and functional domains, for study and growth. I Love exploring! Places, skills, human, and human psychology... basically a curious mind, honest heart, but with a pachydermous (thick skin -_-) . I can share my  primary interests around personal life over Quora and instagram handles, and primary professional or academic interest over my LinkedIn handle. </p>
      <ul class="actions" style="font-size: smaller;">
        <li><a href="{{ 'CV | Resume' | absolute_url  }}" class="button icon fa-file-text">Resume</a></li>
        <li><a href="{{ 'Professional Portfolio' | absolute_url  }}" class="button special icon fa-magic">Research</a></li>
      </ul>
    </div>
    <span class="image object">
      <picture>
        <source data-srcset="assets/images/gmrt-group-picture.webp" type="image/webp" >
        <source data-srcset="assets/images/gmrt-group-picture.jpg" type="image/jpeg" > 
        <img src="assets/images/gmrt-group-picture-thumb.jpg" alt="Bunch of interns at the Giant Meterwave Radio Telescope (GMRT), at Pune, India." data-src="assets/images/gmrt-group-picture.jpg"  class="lazyload" />
      </picture>
      
    </span>
  </section>
